body {
    background-image: url(https://images.unsplash.com/photo-1532498664269-63b8ab6adc73?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1268&q=80);
    background-size: cover;
}

.clock {
    background: url(../../assets/img/clock.png);
    background-size: contain;
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
}

.main-clock {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
    /* account for the height of the clock hands */
}

.line {
    position: absolute;
    top: 51%;
    right: 77%;
    transform-origin: 100%;
    transform: rotate( 90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hour {
    width: 12%;
    height: 5px;
    background: black;
}

.minute {
    width: 14%;
    height: 4px;
    background: black;
}

.second {
    width: 16%;
    height: 2px;
    background: rgb(255, 0, 0);
}